.scroll {
  position: fixed;
  bottom: -50px;
  right: 20px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  background-color: $pale-pink;
  border-radius: 50px;
  text-align: center;
  transition: bottom 0.3s ease;
}

.scroll.show {
  bottom: 20px;
}

.scroll i {
  font-size: 24px;
  cursor: pointer;
  color: $ultra-violet;
  line-height: 40px;
  transition: transform 0.3s ease;
}
